//<ПОДКЛЮЧЕНИЕ ДРУГИХ СТРАНИЦ>================================
@import "blog";
//<ПОДКЛЮЧЕНИЕ ДРУГИХ СТРАНИЦ>================================

//<ОБНУЛЕНИЕ>=================================================
@import "nullStyle.scss";
//<ОБНУЛЕНИЕ>=================================================

//<ШРИФТЫ>=================================================
//&subset=cyrillic-ext  ===  если используется кириллица
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");

$fontFamily: "Heebo";

//<ИКОНОЧНЫЙ ШРИФТ>================
@import "icons.scss";
//<ШРИФТЫ>=================================================

//<ПЕРЕМЕННЫЕ>============================================================================================
$minWidth: 320px;
$maxWidth: 1152;
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 480;
//<ПЕРЕМЕННЫЕ>============================================================================================

body {
	color: #21243D;
	font-size: 14px;
	font-family: "Heebo";
}
.page {
	flex: 1 1 auto;
	padding: 90px 0 0 0;
	@media (max-width: $md3 + px) {
		padding: 30px 0 0 0;
	}
}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//<ОБЩИЕ ЭЛЕМЕНТЫ>=======================================================================================
._container {
	max-width: $maxWidthContainer +px;
	margin: 0 auto;
	@media (max-width: $md1+px){
		max-width: 750px;
	}
	@media (max-width: $md2+px){
		max-width: none;
		padding: 0 10px;
	}
}
.title {
	font-size: 44px;
	font-weight: 700;
	color: #21243D;
	line-height: 60 / 44 * 100%;
	@media (max-width: $md3 + px) {
		font-size: 32px;
	}
}
.text {
	font-size: 16px;
	color: #21243D;
	line-height: 23 / 16 * 100%;
}
.btn {
	background: #FF6464;
	border-radius: 2px;
	height: 47px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29 / 20 * 100%;
	color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0px 20px;
	transition: background-color 0.3s ease 0s;
	@media (min-width: 992px) {
		&:hover{
			background-color: #d44747;
		}
	}
}
.title-posts {
	font-size: 22px;
	@media (max-width: $md3 + px) {
		text-align: center;
		font-size: 18px;
	}
}
//<ОБЩИЕ ЭЛЕМЕНТЫ>=======================================================================================

//<HEADER>===============================================================================================
.header {
	position: relative;
	z-index: 100;
	&__content {
		max-width: 1052px;
		padding: 0 10px;
	}
	&__menu {
		height: 82px;
		align-items: center;
		display: flex;
		justify-content: flex-end;
		padding: 10px 0;
		@media (max-width: $md3+px) {
			height: 50px;
		}
	}
}
.menu {
	/*&__icon {

	}*/
	&__body {
		@media (max-width: $md3+px) {
			transform: translate(0px, -100%);
			transition: transform 0.7s ease 0s;
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			overflow: auto;
			padding: 70px 10px 30px 10px;
			background-color: rgba(255, 255, 255, 0.95);
			&._active {
				transform: translate(0px, 0%);
			}
		}
	}
	&__list {
		li {
			margin: 0 0 30px 0;
			&:last-child {
				margin: 0;
			}
		}
		@media (min-width: $md3+px){
			display: flex;
			li {
				margin: 0 33px 0 0;
			}
		}
	}
	&__link {
		font-weight: 500;
		font-size: 20px;

		color: #000000;
		transition: color 0.3s ease 0s;
		&._active {
			color: #ff6464;
		}
		@media (min-width: $md2+px){
			&:hover {
				color: #ff6464;
			}
		}
		@media (max-width: $md3+px){
			display: block;
			font-size: 40px;
			text-align: center;
		}
	}
}
.icon-menu{
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: 45%;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: 45%;
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: 45%;
				}
			}
		}
	}
}
//<HEADER>===============================================================================================

//<MAIN PAGE>============================================================================================
.hello {
	padding: 38px 0 70px 0;
	@media (max-width: $md1 + px) {
		padding: 0px 0px 70px 0px;
	} 
	@media (max-width: $md3 + px) {
		padding: 0px 0px 60px 0px;
	} 
	&__container {
		display: flex;
		@media (max-width: $md3 + px) {
			flex-direction: column-reverse;
			text-align: center;
		} 
	}
	&__content {
		align-items: flex-start;
		padding: 18px 110px 0 0;
		flex: 1 1 auto;
		*:last-child{
			margin-bottom: 0;
		}
		@media (max-width: $md1 + px) {
			padding: 18px 50px 0 0;
		}
		@media (max-width: $md3 + px) {
			padding: 0px 0px 0 0;
		} 
	}
	&__title {
		margin: 0 0 25px 0;
		@media (max-width: $md3 + px) {
			margin: 0 0 20px 0;
		}
	}
	&__text {
		margin: 0 0 35px 0;
		@media (max-width: $md3 + px) {
			padding: 0 15px;
			margin: 0 0 25px 0;
		}
	}
	&__button {
		margin: 0 0 25px 0;
		@media (max-width: $md3 + px) {
			margin: 0 0 20px 0;
		}
	}
	&__avatar {
		flex: 0 0 243px;
		max-height: 243px;
		border-radius: 50%;
		overflow: hidden;
		object-fit: cover;
		box-shadow: -5px 13px 0px 0px #EDF7FA;
		@media (max-width: $md3 + px) {
			width: 170px;
			flex: 0 0 170px;
			align-self: center;
			margin: 0 0 40px 0;
		} 
		img {
			max-width: 100%
		}
	}
}
//=====================================================================
.recent-posts {
	background: #EDF7FA;
	padding: 25px 0 13px 0;
	@media (max-width: $md3 + px) {
		padding: 25px 0 23px 0;
	}
	/*&__container {

	}*/
	&__header {
		display: flex;
		margin: 0 0 20px 0;
	}
	&__title {
		flex: 1 1 auto;
	}
	&__view-all {
		font-size: 16px;
		line-height: 23px;
		color: #00A8CC;
		transition: color 0.3s ease 0s;
		@media (max-width: $md3 + px) {
			display: none;
		}
		@media (min-width: $md2+px){
			&:hover {
				color: #ff6464;
			}
		}
	}
	&__items {
		margin: 0 -10px;
		@media (min-width: $md3 + px) {
			display: flex;
		}
	}
	&__column {
		flex: 0 1 50%;
		padding: 0 10px;
		margin: 0 0 17px 0;
	}/*
	&__item {

	}*/
}
.recent-post {
	background: #FFFFFF;
	box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
	border-radius: 4px;
	padding: 20px;
	height: 100%;
	@media (max-width: $md3 + px) {
		padding: 15px;
	}
	*:last-child {
		margin-bottom: 0;
	}
	&__title {
		display: inline-block;
		font-size: 26px;
		font-weight: 700;
		line-height: 38 / 26 * 100%;
		color: inherit;
		transition: color 0.3s ease 0s;
		margin: 0 0 17px 0;
		@media (min-width: $md2+px){
			&:hover {
				color: #ff6464;
			}
		}
		@media (max-width: $md3 + px) {
			font-size: 22px;
			margin: 0 0 10px 0;
		}
	}
	&__info {
		font-size: 18px;
		line-height: 26 / 18 * 100%;
		margin: 0 0 15px 0;
		span {
			margin: 0 20px;
		}
		@media (max-width: $md3 + px) {
			font-size: 16px;
			margin: 0 0 10px 0;
		}
	}/*
	&__text {

	}*/
}
//=====================================================================
/*.title-posts {

}*/

.featured-works {
	padding: 30px 0 80px 0;
	@media (max-width: $md3+px) {
		padding: 30px 0 40px 0;
	}
	/*&__container {
		
	}*/
	&__title {
		margin: 0 0 40px 0;
	}
	&__items {
		@media (max-width: $md3+px) {
			display: flex;
			overflow: auto;
			.works__item {
				flex: 0 0 100%;
				margin: 0 15px 0 0;
			}
		}
	}
}
.works {
	&__item {
		padding: 0 0 30px 0;
		margin: 0 0 30px 0;
		border-bottom: 1px solid #E0E0E0;
		@media (min-width: $md3+px) {
			display: flex;
			align-items: flex-start;
		}
	}
	&__image {
		flex: 0 0 246px;
		display: block;
		border-radius: 6px;
		min-height: 180px;
		overflow: hidden;
		@media (max-width: $md3+px) {
			margin: 0 0 17px 0;
			padding: 0 0 70% 0;
		}
		
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__body {
		flex: 1 1 auto;
		@media (min-width: $md3+px) {
			padding: 0 0 0 18px;
		}
	}
	&__title {
		color: inherit;
		display: inline-block;
		font-size: 30px;
		font-weight: bold;
		line-height: 44 / 30 * 100%;
		margin: 0 0 15px 0;
		@media (max-width: $md3+px) {
			font-size: 24px;
		}
	}
	&__info {
		display: flex;
		align-items: center;
		margin: 0 0 15px 0;
	}
	&__year {
		background: #142850;
		border-radius: 16px;
		height: 25px;
		padding: 0 10px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #FFFFFF;
		font-weight: 900;
		font-size: 18px;
	}
	&__category {
		font-size: 20px;
		line-height: 29 / 20 * 100%;
		color: #8695A4;
		margin: 0 0 0 25px;
	}
	/*&__text {
		
	}*/
}
//<MAIN PAGE>============================================================================================

//<FOOTER>===============================================================================================
.footer {
	text-align: center;
	padding: 50px 0;
	@media (max-width: $md3+px) {
		padding: 50px 0 30px 0;
	}
	/*&__content {

	}*/
	&__social {
		margin: 0 0 25px 0;
	}/*
	&__copyright {

	}*/
}

.social {
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		margin: 0 17px;
		font-size: 30px;
		color: inherit;
		transition: color 0.3s ease 0s;
		@media (min-width: $md2+px) {
			&:hover {
				color: #ff6464;
			}
		}
	}
}
//<FOOTER>===============================================================================================


//==========после всего подключить шрифт==============================