//<МИКСИНЫ>========================================================================================
@import "mixins";
//<МИКСИНЫ>========================================================================================

//<ШРИФТЫ>=========================================================================================
//&subset=cyrillic-ext  ===  если используется кириллица
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap");
@import "fonts";

//<Иконочный шрифт>===================================
@import "icons.scss";
//<Иконочный шрифт>===================================

//<ШРИФТЫ>=========================================================================================

//<ПЕРЕМЕННЫЕ>=====================================================================================
$minWidth: 320;
$maxWidth: 1152; //ширина полотна макета
$maxWidthContainer: 856;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//<ПЕРЕМЕННЫЕ>=====================================================================================

//<ОБНУЛЕНИЕ>======================================================================================
@import "null";
body {
	color: #21243D;
	font-size: 14px;
	font-family: "Heebo";

	&._lock {
		overflow: hidden;
	}
}
//<ОБНУЛЕНИЕ>======================================================================================

//<ОБЁРТКА>========================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//<ОБЁРТКА>========================================================================================

//<КОНТЕЙНЕР>======================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 750px;
	}
	@media (max-width: $md2+px) {
		max-width: none;
		padding: 0 10px;
	}
}
//<КОНТЕЙНЕР>======================================================================================

//<ПОДКЛЮЧЕНИЕ ПОВТОРЯЮЩИХСЯ КЛАССОВ И СТИЛЕЙ>=====================================================
@import "repeatable";
//<ПОДКЛЮЧЕНИЕ ПОВТОРЯЮЩИХСЯ КЛАССОВ И СТИЛЕЙ>=====================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================================
@import "header";
@import "main";
@import "footer";

@import "blog";
@import "works";
@import "article";
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>==================================================

//<ОСНОВНОЙ БЛОК>==================================================================================

.page {
	flex: 1 1 auto;
	padding: 90px 0 0 0;
	@media (max-width: $md3 + px) {
		padding: 30px 0 0 0;
	}
}


//<ОСНОВНОЙ БЛОК>==================================================================================